name: checks

on:
  pull_request:
    branches: [main]

jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: macos-14
          - os: macos-15
          - os: ubuntu-latest
            swift: "swift:5.9"
          - os: ubuntu-latest
            swift: "swift:6.1"

    runs-on: ${{ matrix.os }}

    container:
      image: ${{ matrix.swift || '' }}

    steps:
      - uses: actions/checkout@v6
      - name: Build
        run: swift build -v
      - name: Run tests
        run: swift test -v
